In [23]:
# –Ø—á–µ–π–∫–∞ 1: –∏–Ω–∏—Ü–∏–∞–ª–∏–∑–∞—Ü–∏—è Spark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, year, quarter, month, dayofmonth, date_format

spark = SparkSession.builder \
    .appName("Spark ETL Star Schema") \
    .config("spark.jars", "postgresql-42.6.0.jar") \
    .config("spark.sql.legacy.timeParserPolicy", "LEGACY") \
    .getOrCreate()

jdbc_url = "jdbc:postgresql://postgres:5432/spark_db"
pg_props = {
    "user": "spark_user",
    "password": "spark_password",
    "driver": "org.postgresql.Driver"
}

print("‚úîÔ∏è SparkSession –∑–∞–ø—É—â–µ–Ω")

‚úîÔ∏è SparkSession –∑–∞–ø—É—â–µ–Ω

In [24]:
# –Ø—á–µ–π–∫–∞ 2: —á–∏—Ç–∞–µ–º —Å—ã—Ä—ã–µ –¥–∞–Ω–Ω—ã–µ –∏ —Å—á–∏—Ç–∞–µ–º —Å—Ç—Ä–æ–∫–∏
df_raw = spark.read \
    .format("jdbc") \
    .option("url", jdbc_url) \
    .option("dbtable", "mock_data") \
    .options(**pg_props) \
    .load()

total = df_raw.count()
print(f"üì• –ò–∑ mock_data –ø—Ä–æ—á–∏—Ç–∞–Ω–æ {total} —Å—Ç—Ä–æ–∫")

üì• –ò–∑ mock_data –ø—Ä–æ—á–∏—Ç–∞–Ω–æ 10000 —Å—Ç—Ä–æ–∫

In [25]:
# -------------------------------
# dim_countries
# -------------------------------
print("üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_countries...")

# 1) –°–æ–±–∏—Ä–∞–µ–º –Ω–æ–≤—ã–µ —Å—Ç—Ä–∞–Ω—ã –∏–∑ —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö
df_cust   = df_raw.select(col("customer_country").alias("country_name"))
df_sell   = df_raw.select(col("seller_country").alias("country_name"))
df_store  = df_raw.select(col("store_country").alias("country_name"))
df_supp   = df_raw.select(col("supplier_country").alias("country_name"))

df_countries_new = (
    df_cust.union(df_sell)
           .union(df_store)
           .union(df_supp)
           .where(col("country_name").isNotNull())
           .distinct()
)
new_cnt = df_countries_new.count()
print(f"   üîç –ù–∞–π–¥–µ–Ω–æ {new_cnt} —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Å—Ç—Ä–∞–Ω –≤ —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö")

# 2) –ß–∏—Ç–∞–µ–º —É–∂–µ —Å—É—â–µ—Å—Ç–≤—É—é—â–∏–µ —Å—Ç—Ä–∞–Ω—ã –∏–∑ Postgres (–ø—Ä–∞–≤–∏–ª—å–Ω—ã–π —Å–∏–Ω—Ç–∞–∫—Å–∏—Å)
df_exist = spark.read.jdbc(
    url=jdbc_url,
    table="dim_countries",
    properties=pg_props
)

# 3) ¬´–ê–Ω—Ç–∏-–¥–∂–æ–∏–Ω¬ª –¥–ª—è –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –Ω–æ–≤—ã—Ö –∑–∞–ø–∏—Å–µ–π
to_insert = df_countries_new.join(df_exist, ["country_name"], "left_anti")
ins_cnt = to_insert.count()
print(f"   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã {ins_cnt} –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_countries")

# 4) –ó–∞–ø–∏—Å—å –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ (–µ—Å–ª–∏ –µ—Å—Ç—å)
if ins_cnt > 0:
    to_insert.write.jdbc(
        url=jdbc_url,
        table="dim_countries",
        mode="append",
        properties=pg_props
    )
    print("   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_countries –∑–∞–≤–µ—Ä—à–µ–Ω–∞")
else:
    print("   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ dim_countries")

üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_countries...
   üîç –ù–∞–π–¥–µ–Ω–æ 230 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Å—Ç—Ä–∞–Ω –≤ —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö
   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã 0 –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_countries
   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ dim_countries

In [ ]:
# -------------------------------
# dim_cities
# -------------------------------
print("üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_cities...")
df_cities_new = (
    df_raw.select(col("store_city").alias("city_name"))
          .union(df_raw.select(col("supplier_city").alias("city_name")))
          .where(col("city_name").isNotNull())
          .distinct()
)
print(f"   üîç –ù–∞–π–¥–µ–Ω–æ {df_cities_new.count()} —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –≥–æ—Ä–æ–¥–æ–≤")

df_exist = spark.read.jdbc(url=jdbc_url, table="dim_cities", properties=pg_props)
to_insert = df_cities_new.join(df_exist, ["city_name"], "left_anti")
print(f"   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã {to_insert.count()} –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_cities")
if to_insert.count() > 0:
    to_insert.write.jdbc(url=jdbc_url, table="dim_cities", mode="append", properties=pg_props)
    print("   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_cities –∑–∞–≤–µ—Ä—à–µ–Ω–∞")
else:
    print("   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ dim_cities")

In [ ]:
# -------------------------------
# dim_dates
# -------------------------------
print("üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_dates...")
df_dates = (
    df_raw.select(to_date("sale_date",            "MM/dd/yyyy").alias("full_date"))
          .union(df_raw.select(to_date("product_release_date", "MM/dd/yyyy")))
          .union(df_raw.select(to_date("product_expiry_date",  "MM/dd/yyyy")))
          .where(col("full_date").isNotNull())
          .distinct()
          .withColumn("year",    year("full_date"))
          .withColumn("quarter", quarter("full_date"))
          .withColumn("month",   month("full_date"))
          .withColumn("day",     dayofmonth("full_date"))
          .withColumn("weekday", date_format("full_date", "EEEE"))
)
print(f"   üîç –ù–∞–π–¥–µ–Ω–æ {df_dates.count()} —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –¥–∞—Ç")

df_exist = spark.read.jdbc(url=jdbc_url, table="dim_dates", properties=pg_props)
to_insert = df_dates.join(df_exist, ["full_date"], "left_anti")
print(f"   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã {to_insert.count()} –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_dates")
if to_insert.count() > 0:
    to_insert.write.jdbc(url=jdbc_url, table="dim_dates", mode="append", properties=pg_props)
    print("   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_dates –∑–∞–≤–µ—Ä—à–µ–Ω–∞")
else:
    print("   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ dim_dates")

In [ ]:
# -------------------------------
# –ü—Ä–æ—Å—Ç—ã–µ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∏: pet types, breeds, categories
# -------------------------------
dims = [
    ("customer_pet_type",  "dim_pet_types",       "pet_type_name"),
    ("customer_pet_breed", "dim_pet_breeds",      "pet_breed_name"),
    ("pet_category",       "dim_pet_categories",  "pet_category_name"),
]

for col_src, table, name_col in dims:
    print(f"üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ {table}...")
    # –ò–∑–≤–ª–µ–∫–∞–µ–º –∏ –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤—ã–≤–∞–µ–º –∫–æ–ª–æ–Ω–∫—É —Å—Ä–∞–∑—É –≤ –ø—Ä–∞–≤–∏–ª—å–Ω–æ–µ –∏–º—è
    df_new = (
        df_raw
        .select(col(col_src).alias(name_col))
        .where(col(name_col).isNotNull())
        .distinct()
    )
    new_cnt = df_new.count()
    print(f"   üîç –ù–∞–π–¥–µ–Ω–æ {new_cnt} —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö")

    df_exist = spark.read.jdbc(url=jdbc_url, table=table, properties=pg_props)
    to_insert = df_new.join(df_exist, [name_col], "left_anti")
    ins_cnt = to_insert.count()
    print(f"   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã {ins_cnt} –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ {table}")

    if ins_cnt > 0:
        to_insert.write.jdbc(
            url=jdbc_url,
            table=table,
            mode="append",
            properties=pg_props
        )
        print(f"   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ {table} –∑–∞–≤–µ—Ä—à–µ–Ω–∞")
    else:
        print(f"   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ {table}")

In [28]:
# -------------------------------
# dim_pets (—Å –≤—ã–≤–æ–¥–æ–º –Ω–∞–π–¥–µ–Ω–Ω—ã—Ö –∑–∞–ø–∏—Å–µ–π)
# -------------------------------
print("üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_pets...")

# 1) –°—É—â–µ—Å—Ç–≤—É—é—â–∏–µ –∫–ª—é—á–∏
df_exist = spark.read.jdbc(
    url=jdbc_url,
    table="dim_pets",
    properties=pg_props
).select("pet_name", "pet_type_id")

# 2) –§–æ—Ä–º–∏—Ä—É–µ–º –Ω–æ–≤—ã–µ –∏—Å—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –∏ —Å—Ä–∞–∑—É distinct
df_pets_new = (
    df_raw
      .select(
         col("customer_pet_name").alias("pet_name"),
         col("customer_pet_type").alias("pet_type_name"),
         col("customer_pet_breed").alias("pet_breed_name"),
         col("pet_category").alias("pet_category_name")
      )
      .where(col("pet_name").isNotNull())
      .distinct()
)

new_raw_cnt = df_pets_new.count()
print(f"   üîç –í —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö –Ω–∞–π–¥–µ–Ω–æ {new_raw_cnt} —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –ø–∏—Ç–æ–º—Ü–µ–≤ (–∏–º—è+—Ç–∏–ø)")

# 3) –ü–æ–¥—Ç—è–≥–∏–≤–∞–µ–º —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∏
dim_pet_types  = spark.read.jdbc(url=jdbc_url, table="dim_pet_types",  properties=pg_props)
dim_pet_breeds = spark.read.jdbc(url=jdbc_url, table="dim_pet_breeds", properties=pg_props)
dim_pet_cats   = spark.read.jdbc(url=jdbc_url, table="dim_pet_categories", properties=pg_props)

df_pets = (
    df_pets_new
      .join(dim_pet_types,  ["pet_type_name"],    "left")
      .join(dim_pet_breeds, ["pet_breed_name"],   "left")
      .join(dim_pet_cats,   ["pet_category_name"],"left")
      .select("pet_name", "pet_type_id", "pet_breed_id", "pet_category_id")
      .distinct()
)

new_cnt = df_pets.count()
print(f"   üîç –ü–æ—Å–ª–µ –¥–∂–æ–π–Ω–∞ —Å–æ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∞–º–∏ –∏ dedupe –ø–æ–ª—É—á–µ–Ω–æ {new_cnt} –∑–∞–ø–∏—Å–µ–π")

# 4) –ê–Ω—Ç–∏-–¥–∂–æ–∏–Ω –ø—Ä–æ—Ç–∏–≤ —É–∂–µ —Å—É—â–µ—Å—Ç–≤—É—é—â–∏—Ö
to_insert = df_pets.join(df_exist, ["pet_name", "pet_type_id"], "left_anti")
ins_cnt   = to_insert.count()
print(f"   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã {ins_cnt} –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_pets")

# 5) –ó–∞–ø–∏—Å—å (–µ—Å–ª–∏ –µ—Å—Ç—å)
if ins_cnt > 0:
    to_insert.write.jdbc(
        url=jdbc_url,
        table="dim_pets",
        mode="append",
        properties=pg_props
    )
    print("   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_pets –∑–∞–≤–µ—Ä—à–µ–Ω–∞")
else:
    print("   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ dim_pets")

üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_pets...
   üîç –í —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö –Ω–∞–π–¥–µ–Ω–æ 9850 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –ø–∏—Ç–æ–º—Ü–µ–≤ (–∏–º—è+—Ç–∏–ø)
   üîç –ü–æ—Å–ª–µ –¥–∂–æ–π–Ω–∞ —Å–æ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∞–º–∏ –∏ dedupe –ø–æ–ª—É—á–µ–Ω–æ 9850 –∑–∞–ø–∏—Å–µ–π
   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã 0 –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_pets
   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ dim_pets

In [30]:
# -------------------------------
# dim_suppliers (–∏—Å–ø—Ä–∞–≤–ª–µ–Ω–Ω—ã–π –±–ª–æ–∫)
# -------------------------------
print("üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_suppliers...")

# 1) –ß–∏—Ç–∞–µ–º —Å—É—â–µ—Å—Ç–≤—É—é—â–∏–µ –∫–ª—é—á–∏ (–ø–æ —É–Ω–∏–∫–∞–ª—å–Ω–æ–º—É email)
df_exist = spark.read.jdbc(
    url=jdbc_url,
    table="dim_suppliers",
    properties=pg_props
).select("supplier_email")

# 2) –§–æ—Ä–º–∏—Ä—É–µ–º –Ω–æ–≤—ã–µ –∑–∞–ø–∏—Å–∏ –∏–∑ —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö
df_supp_new = (
    df_raw
      .select(
         col("supplier_name"),
         col("supplier_contact").alias("contact_person"),  # –ø—Ä–∞–≤–∏–ª—å–Ω–æ –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤–∞–ª–∏
         col("supplier_email"),
         col("supplier_phone"),
         col("supplier_address"),
         col("supplier_city").alias("city_name"),
         col("supplier_country").alias("country_name")
      )
      .where(col("supplier_email").isNotNull())
      .distinct()
)

new_cnt = df_supp_new.count()
print(f"   üîç –í —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö –Ω–∞–π–¥–µ–Ω–æ {new_cnt} —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –ø–æ email")

# 3) –ü–æ–¥—Ç—è–≥–∏–≤–∞–µ–º –≤–Ω–µ—à–Ω–∏–µ –∫–ª—é—á–∏: city_id –∏ country_id
dim_cities    = spark.read.jdbc(url=jdbc_url, table="dim_cities",    properties=pg_props)
dim_countries = spark.read.jdbc(url=jdbc_url, table="dim_countries", properties=pg_props)

df_supp = (
    df_supp_new
      .join(dim_cities,    df_supp_new.city_name    == dim_cities.city_name,       "left")
      .join(dim_countries, df_supp_new.country_name == dim_countries.country_name, "left")
      .select(
          "supplier_name",
          "contact_person",
          "supplier_email",
          "supplier_phone",
          "supplier_address",
          col("city_id"),
          col("country_id")
      )
)

post_join_cnt = df_supp.count()
print(f"   üîç –ü–æ—Å–ª–µ –¥–∂–æ–π–Ω–∞ —Å–æ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∞–º–∏ –ø–æ–ª—É—á–µ–Ω–æ {post_join_cnt} –∑–∞–ø–∏—Å–µ–π –¥–ª—è –≤—Å—Ç–∞–≤–∫–∏")

# 4) –ê–Ω—Ç–∏-–¥–∂–æ–∏–Ω –ø—Ä–æ—Ç–∏–≤ —É–∂–µ —Å—É—â–µ—Å—Ç–≤—É—é—â–∏—Ö –ø–æ supplier_email
to_insert = df_supp.join(df_exist, ["supplier_email"], "left_anti")
ins_cnt   = to_insert.count()
print(f"   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã {ins_cnt} –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_suppliers")

# 5) –ó–∞–ø–∏—Å—å (–µ—Å–ª–∏ –µ—Å—Ç—å)
if ins_cnt > 0:
    to_insert.write.jdbc(
        url=jdbc_url,
        table="dim_suppliers",
        mode="append",
        properties=pg_props
    )
    print("   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_suppliers –∑–∞–≤–µ—Ä—à–µ–Ω–∞")
else:
    print("   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ dim_suppliers")

üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_suppliers...
   üîç –í —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö –Ω–∞–π–¥–µ–Ω–æ 10000 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –ø–æ—Å—Ç–∞–≤—â–∏–∫–æ–≤ –ø–æ email
   üîç –ü–æ—Å–ª–µ –¥–∂–æ–π–Ω–∞ —Å–æ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∞–º–∏ –ø–æ–ª—É—á–µ–Ω–æ 10000 –∑–∞–ø–∏—Å–µ–π –¥–ª—è –≤—Å—Ç–∞–≤–∫–∏
   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã 10000 –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_suppliers
   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_suppliers –∑–∞–≤–µ—Ä—à–µ–Ω–∞

In [31]:
# -------------------------------
# –ü—Ä–æ–¥—É–∫—Ç–æ–≤—ã–µ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∏: category/color/size/brand/material
# -------------------------------
for src,col_name,table in [
    ("product_category","category_name","dim_product_categories"),
    ("product_color",   "color_name",   "dim_product_colors"),
    ("product_size",    "size_name",    "dim_product_sizes"),
    ("product_brand",   "brand_name",   "dim_product_brands"),
    ("product_material","material_name","dim_product_materials"),
]:
    print(f"üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ {table}...")
    df_new = (
        df_raw.select(col(src).alias(col_name))
              .where(col(col_name).isNotNull())
              .distinct()
    )
    print(f"   üîç –ù–∞–π–¥–µ–Ω–æ {df_new.count()} —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π")

    df_exist = spark.read.jdbc(url=jdbc_url, table=table, properties=pg_props)
    to_insert = df_new.join(df_exist, [col_name], "left_anti")
    print(f"   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã {to_insert.count()} –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ {table}")
    if to_insert.count() > 0:
        to_insert.write.jdbc(url=jdbc_url, table=table, mode="append", properties=pg_props)
        print(f"   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ {table} –∑–∞–≤–µ—Ä—à–µ–Ω–∞")
    else:
        print(f"   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ {table}")

üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_product_categories...
   üîç –ù–∞–π–¥–µ–Ω–æ 3 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã 3 –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_product_categories
   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_product_categories –∑–∞–≤–µ—Ä—à–µ–Ω–∞
üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_product_colors...
   üîç –ù–∞–π–¥–µ–Ω–æ 19 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã 19 –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_product_colors
   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_product_colors –∑–∞–≤–µ—Ä—à–µ–Ω–∞
üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_product_sizes...
   üîç –ù–∞–π–¥–µ–Ω–æ 3 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã 3 –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_product_sizes
   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_product_sizes –∑–∞–≤–µ—Ä—à–µ–Ω–∞
üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_product_brands...
   üîç –ù–∞–π–¥–µ–Ω–æ 383 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã 383 –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_product_brands
   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_product_brands –∑–∞–≤–µ—Ä—à–µ–Ω–∞
üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_product_materials...
   üîç –ù–∞–π–¥–µ–Ω–æ 11 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π
   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã 11 –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_product_materials
   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_product_materials –∑–∞–≤–µ—Ä—à–µ–Ω–∞

In [33]:
# -------------------------------
# dim_products (–∏—Å–ø—Ä–∞–≤–ª–µ–Ω–Ω—ã–π –±–ª–æ–∫)
# -------------------------------
print("üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_products...")

# 1) –ß–∏—Ç–∞–µ–º —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∏
dim_prod_cat = spark.read.jdbc(url=jdbc_url, table="dim_product_categories", properties=pg_props)
dim_colors   = spark.read.jdbc(url=jdbc_url, table="dim_product_colors",     properties=pg_props)
dim_sizes    = spark.read.jdbc(url=jdbc_url, table="dim_product_sizes",      properties=pg_props)
dim_brands   = spark.read.jdbc(url=jdbc_url, table="dim_product_brands",     properties=pg_props)
dim_mats     = spark.read.jdbc(url=jdbc_url, table="dim_product_materials",  properties=pg_props)
dim_suppliers= spark.read.jdbc(url=jdbc_url, table="dim_suppliers",          properties=pg_props)

# –ß–∏—Ç–∞–µ–º dim_dates –∏ –¥–∞—ë–º –¥–≤–∞ —Ä–∞–∑–Ω—ã—Ö –∞–ª–∏–∞—Å–∞
dim_dates_full = spark.read.jdbc(url=jdbc_url, table="dim_dates", properties=pg_props)
dim_dates_rel  = dim_dates_full.select(
    col("date_id").alias("release_date_id"),
    col("full_date").alias("release_full_date")
)
dim_dates_exp  = dim_dates_full.select(
    col("date_id").alias("expiry_date_id"),
    col("full_date").alias("expiry_full_date")
)

# 2) –§–æ—Ä–º–∏—Ä—É–µ–º –Ω–æ–≤—ã–µ –ø—Ä–æ–¥—É–∫—Ç—ã
df_products_raw = (
    df_raw
      .select(
         col("product_name"),
         col("supplier_email"),
         col("product_category").alias("category_name"),
         col("product_price").alias("price"),
         col("product_weight").alias("weight"),
         col("product_color").alias("color_name"),
         col("product_size").alias("size_name"),
         col("product_brand").alias("brand_name"),
         col("product_material").alias("material_name"),
         col("product_description").alias("description"),
         col("product_rating").alias("rating"),
         col("product_reviews").alias("reviews"),
         to_date("product_release_date", "MM/dd/yyyy").alias("release_full_date"),
         to_date("product_expiry_date",  "MM/dd/yyyy").alias("expiry_full_date")
      )
      .where(col("product_name").isNotNull())
      .distinct()
)

# 3) –î–∂–æ–∏–Ω–∏–º –≤—Å–µ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∏ –ø–æ –∏–º–µ–Ω–∞–º
df_products = (
    df_products_raw
      .join(dim_prod_cat, df_products_raw.category_name == dim_prod_cat.category_name, "left")
      .join(dim_colors,   df_products_raw.color_name    == dim_colors.color_name,   "left")
      .join(dim_sizes,    df_products_raw.size_name     == dim_sizes.size_name,     "left")
      .join(dim_brands,   df_products_raw.brand_name    == dim_brands.brand_name,   "left")
      .join(dim_mats,     df_products_raw.material_name == dim_mats.material_name,  "left")
      .join(dim_suppliers,df_products_raw.supplier_email == dim_suppliers.supplier_email, "left")
      .join(dim_dates_rel, df_products_raw.release_full_date == dim_dates_rel.release_full_date, "left")
      .join(dim_dates_exp, df_products_raw.expiry_full_date  == dim_dates_exp.expiry_full_date,  "left")
      .select(
          col("product_name"),
          col("supplier_id"),
          col("category_id"),
          col("price"),
          col("weight"),
          col("color_id"),
          col("size_id"),
          col("brand_id"),
          col("material_id"),
          col("description"),
          col("rating"),
          col("reviews"),
          col("release_date_id"),
          col("expiry_date_id")
      )
      .distinct()
)

# 4) –ê–Ω—Ç–∏-–¥–∂–æ–∏–Ω, —á—Ç–æ–±—ã –Ω–µ –≤—Å—Ç–∞–≤–ª—è—Ç—å –¥—É–±–ª–∏—Ä—É—é—â–∏–µ—Å—è –∫–ª—é—á–∏ (product_name, supplier_id)
df_exist = spark.read.jdbc(url=jdbc_url, table="dim_products", properties=pg_props) \
                 .select("product_name", "supplier_id")

to_insert = df_products.join(df_exist, ["product_name", "supplier_id"], "left_anti")
ins_cnt   = to_insert.count()
print(f"   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã {ins_cnt} –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_products")

# 5) –ó–∞–ø–∏—Å—ã–≤–∞–µ–º
if ins_cnt > 0:
    to_insert.write.jdbc(
        url=jdbc_url,
        table="dim_products",
        mode="append",
        properties=pg_props
    )
    print("   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_products –∑–∞–≤–µ—Ä—à–µ–Ω–∞")
else:
    print("   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ dim_products")

üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_products...
   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã 10000 –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_products
   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_products –∑–∞–≤–µ—Ä—à–µ–Ω–∞

In [36]:
# -------------------------------
# –§–∏–Ω–∞–ª—å–Ω—ã–π –±–ª–æ–∫: dim_customers
# -------------------------------
print("üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_customers...")

# –°—É—â–µ—Å—Ç–≤—É—é—â–∏–µ emails
df_exist = spark.read.jdbc(
    url=jdbc_url,
    table="dim_customers",
    properties=pg_props
).select("email")

# –ò—Å—Ö–æ–¥–Ω—ã–µ –∫–ª–∏–µ–Ω—Ç—ã
df_cust_new = (
    df_raw
      .select(
         col("customer_first_name").alias("first_name"),
         col("customer_last_name").alias("last_name"),
         col("customer_age").alias("age"),
         col("customer_email").alias("email"),
         col("customer_country").alias("country_name"),
         col("customer_postal_code").alias("postal_code"),
         col("customer_pet_name").alias("pet_name")
      )
      .where(col("email").isNotNull())
      .distinct()
)

print(f"   üîç –ù–∞–π–¥–µ–Ω–æ –≤ —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö {df_cust_new.count()} —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ (–ø–æ email)")

# –ü–æ–¥—Ç—è–≥–∏–≤–∞–µ–º FK
dim_countries = spark.read.jdbc(url=jdbc_url, table="dim_countries", properties=pg_props)
dim_pets      = spark.read.jdbc(url=jdbc_url, table="dim_pets",      properties=pg_props)

df_cust = (
    df_cust_new
      .join(dim_countries, ["country_name"], "left")
      .join(dim_pets,      ["pet_name"],      "left")
      .select("first_name", "last_name", "age", "email", 
              col("country_id"), "postal_code", col("pet_id"))
)

print(f"   üîç –ü–æ—Å–ª–µ –¥–∂–æ–∏–Ω–∞ —Å–æ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∞–º–∏ {df_cust.count()} –∑–∞–ø–∏—Å–µ–π")

# –ê–Ω—Ç–∏-–¥–∂–æ–∏–Ω + —É–¥–∞–ª—è–µ–º –¥—É–±–ª–∏ –ø–æ email
to_insert = (
    df_cust.join(df_exist, ["email"], "left_anti")
           .dropDuplicates(["email"])
)
ins_cnt = to_insert.count()
print(f"   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã {ins_cnt} –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_customers")

# –ó–∞–ø–∏—Å—å
if ins_cnt > 0:
    to_insert.write.jdbc(
        url=jdbc_url,
        table="dim_customers",
        mode="append",
        properties=pg_props
    )
    print("   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_customers –∑–∞–≤–µ—Ä—à–µ–Ω–∞")
else:
    print("   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ dim_customers")

üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_customers...
   üîç –ù–∞–π–¥–µ–Ω–æ –≤ —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö 10000 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ (–ø–æ email)
   üîç –ü–æ—Å–ª–µ –¥–∂–æ–∏–Ω–∞ —Å–æ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∞–º–∏ 16581 –∑–∞–ø–∏—Å–µ–π
   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã 10000 –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_customers
   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_customers –∑–∞–≤–µ—Ä—à–µ–Ω–∞

In [38]:
# -------------------------------
# dim_sellers (–∏—Å–ø—Ä–∞–≤–ª–µ–Ω–Ω—ã–π –±–ª–æ–∫)
# -------------------------------
print("üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_sellers...")

# 1) –°—É—â–µ—Å—Ç–≤—É—é—â–∏–µ emails –ø—Ä–æ–¥–∞–≤—Ü–æ–≤
df_exist = spark.read.jdbc(
    url=jdbc_url,
    table="dim_sellers",
    properties=pg_props
).select("email")

# 2) –ò—Å—Ö–æ–¥–Ω—ã–π DataFrame –ø—Ä–æ–¥–∞–≤—Ü–æ–≤
df_sellers_new = (
    df_raw
      .select(
         col("seller_first_name").alias("first_name"),
         col("seller_last_name").alias("last_name"),
         col("seller_email").alias("email"),
         col("seller_country").alias("country_name"),
         col("seller_postal_code").alias("postal_code")
      )
      .where(col("email").isNotNull())
      .distinct()
)

new_cnt = df_sellers_new.count()
print(f"   üîç –ù–∞–π–¥–µ–Ω–æ {new_cnt} —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –ø—Ä–æ–¥–∞–≤—Ü–æ–≤ (–ø–æ email)")

# 3) –ü–æ–¥—Ç—è–≥–∏–≤–∞–µ–º –≤–Ω–µ—à–Ω–∏–π –∫–ª—é—á country_id
dim_countries = spark.read.jdbc(url=jdbc_url, table="dim_countries", properties=pg_props)

df_sellers = (
    df_sellers_new
      .join(dim_countries, ["country_name"], "left")
      .select("first_name", "last_name", "email", col("country_id"), "postal_code")
)

post_join_cnt = df_sellers.count()
print(f"   üîç –ü–æ—Å–ª–µ –¥–∂–æ–∏–Ω–∞ —Å–æ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∞–º–∏ –ø–æ–ª—É—á–µ–Ω–æ {post_join_cnt} –∑–∞–ø–∏—Å–µ–π")

# 4) –ê–Ω—Ç–∏-–¥–∂–æ–∏–Ω –∏ —É–¥–∞–ª–µ–Ω–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –ø–æ email
to_insert = (
    df_sellers
      .join(df_exist, ["email"], "left_anti")
      .dropDuplicates(["email"])
)
ins_cnt = to_insert.count()
print(f"   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã {ins_cnt} –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_sellers")

# 5) –ó–∞–ø–∏—Å—å
if ins_cnt > 0:
    to_insert.write.jdbc(
        url=jdbc_url,
        table="dim_sellers",
        mode="append",
        properties=pg_props
    )
    print("   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_sellers –∑–∞–≤–µ—Ä—à–µ–Ω–∞")
else:
    print("   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ dim_sellers")

üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_sellers...
   üîç –ù–∞–π–¥–µ–Ω–æ 10000 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –ø—Ä–æ–¥–∞–≤—Ü–æ–≤ (–ø–æ email)
   üîç –ü–æ—Å–ª–µ –¥–∂–æ–∏–Ω–∞ —Å–æ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∞–º–∏ –ø–æ–ª—É—á–µ–Ω–æ 10000 –∑–∞–ø–∏—Å–µ–π
   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã 10000 –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_sellers
   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_sellers –∑–∞–≤–µ—Ä—à–µ–Ω–∞

In [40]:
# -------------------------------
# dim_stores (–∏—Å–ø—Ä–∞–≤–ª–µ–Ω–Ω—ã–π –±–ª–æ–∫)
# -------------------------------
print("üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_stores...")

# 1) –ß–∏—Ç–∞–µ–º —Å—É—â–µ—Å—Ç–≤—É—é—â–∏–µ –∫–ª—é—á–∏ (store_name + location)
df_exist = spark.read.jdbc(
    url=jdbc_url,
    table="dim_stores",
    properties=pg_props
).select("store_name", "location")

# 2) –°–æ–±–∏—Ä–∞–µ–º –Ω–æ–≤—ã–µ –∑–∞–ø–∏—Å–∏
df_stores_new = (
    df_raw
      .select(
         col("store_name"),
         col("store_location").alias("location"),
         col("store_city").alias("city_name"),
         col("store_state").alias("state"),
         col("store_country").alias("country_name"),
         col("store_phone").alias("phone"),
         col("store_email").alias("email")
      )
      .where(col("store_name").isNotNull())
      .distinct()
)

new_cnt = df_stores_new.count()
print(f"   üîç –í —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö –Ω–∞–π–¥–µ–Ω–æ {new_cnt} —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –º–∞–≥–∞–∑–∏–Ω–æ–≤ (–ø–æ name+location)")

# 3) –ü–æ–¥—Ç—è–≥–∏–≤–∞–µ–º FK city_id –∏ country_id
dim_cities    = spark.read.jdbc(url=jdbc_url, table="dim_cities",    properties=pg_props)
dim_countries = spark.read.jdbc(url=jdbc_url, table="dim_countries", properties=pg_props)

df_stores = (
    df_stores_new
      .join(dim_cities,    ["city_name"],    "left")
      .join(dim_countries, ["country_name"], "left")
      .select(
          "store_name",
          "location",
          col("city_id"),
          "state",
          col("country_id"),
          "phone",
          "email"
      )
)

post_join_cnt = df_stores.count()
print(f"   üîç –ü–æ—Å–ª–µ –¥–∂–æ–∏–Ω–∞ —Å–æ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∞–º–∏ –ø–æ–ª—É—á–µ–Ω–æ {post_join_cnt} –∑–∞–ø–∏—Å–µ–π")

# 4) –ê–Ω—Ç–∏-–¥–∂–æ–∏–Ω –∏ —É–¥–∞–ª–µ–Ω–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –ø–æ –∫–ª—é—á—É
to_insert = (
    df_stores
      .join(df_exist, ["store_name", "location"], "left_anti")
      .dropDuplicates(["store_name", "location"])
)
ins_cnt = to_insert.count()
print(f"   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã {ins_cnt} –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_stores")

# 5) –ó–∞–ø–∏—Å—å
if ins_cnt > 0:
    to_insert.write.jdbc(
        url=jdbc_url,
        table="dim_stores",
        mode="append",
        properties=pg_props
    )
    print("   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_stores –∑–∞–≤–µ—Ä—à–µ–Ω–∞")
else:
    print("   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ dim_stores")

üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ dim_stores...
   üîç –í —Å—ã—Ä—ã—Ö –¥–∞–Ω–Ω—ã—Ö –Ω–∞–π–¥–µ–Ω–æ 10000 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –º–∞–≥–∞–∑–∏–Ω–æ–≤ (–ø–æ name+location)
   üîç –ü–æ—Å–ª–µ –¥–∂–æ–∏–Ω–∞ —Å–æ —Å–ø—Ä–∞–≤–æ—á–Ω–∏–∫–∞–º–∏ –ø–æ–ª—É—á–µ–Ω–æ 10000 –∑–∞–ø–∏—Å–µ–π
   ‚ûï –ë—É–¥—É—Ç –≤—Å—Ç–∞–≤–ª–µ–Ω—ã 9688 –Ω–æ–≤—ã—Ö —Å—Ç—Ä–æ–∫ –≤ dim_stores
   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ dim_stores –∑–∞–≤–µ—Ä—à–µ–Ω–∞

In [42]:
# -------------------------------
# fact_sales
# -------------------------------
print("üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ fact_sales...")

# 1) –ß–∏—Ç–∞–µ–º –∏ ¬´—Å—É–∂–∞–µ–º¬ª –∏–∑–º–µ—Ä–µ–Ω–∏—è –¥–æ (–∫–ª—é—á, id) –∏ —É–±–∏—Ä–∞–µ–º –¥—É–±–ª–∏–∫–∞—Ç—ã
dim_dates = (
    spark.read.jdbc(url=jdbc_url, table="dim_dates", properties=pg_props)
         .select("full_date", "date_id")
         .dropDuplicates(["full_date"])
)

dim_customers = (
    spark.read.jdbc(url=jdbc_url, table="dim_customers", properties=pg_props)
         .select("email", "customer_id")
         .dropDuplicates(["email"])
)

dim_sellers = (
    spark.read.jdbc(url=jdbc_url, table="dim_sellers", properties=pg_props)
         .select("email", "seller_id")
         .dropDuplicates(["email"])
)

dim_products = (
    spark.read.jdbc(url=jdbc_url, table="dim_products", properties=pg_props)
         .select("product_name", "product_id")
         .dropDuplicates(["product_name"])
)

dim_stores = (
    spark.read.jdbc(url=jdbc_url, table="dim_stores", properties=pg_props)
         .select("store_name", "store_id")
         .dropDuplicates(["store_name"])
)

# 2) –ü–æ–¥–≥–æ—Ç–∞–≤–ª–∏–≤–∞–µ–º —Å—ã—Ä—ã–µ –¥–∞–Ω–Ω—ã–µ —Å –ø—Ä–∞–≤–∏–ª—å–Ω—ã–º–∏ –∫–æ–ª–æ–Ω–∫–∞–º–∏ –¥–ª—è –¥–∂–æ–π–Ω–∞
df_facts = (
    df_raw
      .withColumn("sale_dt", to_date("sale_date", "MM/dd/yyyy"))
      .select(
          "sale_dt",
          "customer_email",
          "seller_email",
          "product_name",
          "store_name",
          col("sale_quantity").alias("quantity"),
          col("sale_total_price").alias("total_price")
      )
)

# 3) –î–∂–æ–π–Ω–∏–º –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ
df_facts = (
    df_facts
      .join(dim_dates,     df_facts.sale_dt   == dim_dates.full_date, "inner")
      .join(dim_customers, df_facts.customer_email == dim_customers.email, "inner")
      .join(dim_sellers,   df_facts.seller_email   == dim_sellers.email,   "inner")
      .join(dim_products,  df_facts.product_name   == dim_products.product_name, "inner")
      .join(dim_stores,    df_facts.store_name     == dim_stores.store_name,     "inner")
      .select(
          "date_id",
          "customer_id",
          "seller_id",
          "product_id",
          "store_id",
          "quantity",
          "total_price"
      )
)

count = df_facts.count()
print(f"   üîç –ü–æ—Å–ª–µ –ø—Ä–∞–≤–∏–ª—å–Ω—ã—Ö –¥–∂–æ–∏–Ω—Ç–æ–≤ –Ω–∞–π–¥–µ–Ω–æ {count} —Ñ–∞–∫—Ç–æ–≤")

# 4) –ó–∞–ø–∏—Å—ã–≤–∞–µ–º
if count > 0:
    df_facts.write.jdbc(
        url=jdbc_url,
        table="fact_sales",
        mode="append",
        properties=pg_props
    )
    print("   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ fact_sales –∑–∞–≤–µ—Ä—à–µ–Ω–∞")
else:
    print("   ‚ö†Ô∏è –ù–µ—á–µ–≥–æ –≤—Å—Ç–∞–≤–ª—è—Ç—å –≤ fact_sales")

üîÑ –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ fact_sales...
   üîç –ü–æ—Å–ª–µ –ø—Ä–∞–≤–∏–ª—å–Ω—ã—Ö –¥–∂–æ–∏–Ω—Ç–æ–≤ –Ω–∞–π–¥–µ–Ω–æ 10000 —Ñ–∞–∫—Ç–æ–≤ (–æ–∂–∏–¥–∞–µ—Ç—Å—è ‚âà10000)
   ‚úÖ –í—Å—Ç–∞–≤–∫–∞ –≤ fact_sales –∑–∞–≤–µ—Ä—à–µ–Ω–∞

In [46]:
# –Ø—á–µ–π–∫–∞ 1: –ò–Ω–∏—Ü–∏–∞–ª–∏–∑–∞—Ü–∏—è Spark –∏ –Ω–∞—Å—Ç—Ä–æ–π–∫–∏ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–π
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("ETL Star Schema Reports to ClickHouse") \
    .config("spark.jars", "postgresql-42.6.0.jar,clickhouse-jdbc-0.4.6.jar") \
    .getOrCreate()

# PostgreSQL
pg_url   = "jdbc:postgresql://postgres:5432/spark_db"
pg_props = {
    "user": "spark_user",
    "password": "spark_password",
    "driver": "org.postgresql.Driver"
}

# ClickHouse
ch_url   = "jdbc:clickhouse://clickhouse:8123/default"
ch_props = {
    "driver":   "com.clickhouse.jdbc.ClickHouseDriver",
    "user":     "default",
    "password": "",
}
print("‚úîÔ∏è SparkSession –∏ JDBC –Ω–∞—Å—Ç—Ä–æ–µ–Ω—ã")

‚úîÔ∏è SparkSession –∏ JDBC –Ω–∞—Å—Ç—Ä–æ–µ–Ω—ã

In [ ]:
spark.stop()
del spark

In [ ]:
from pyspark import SparkContext
print(SparkContext._active_spark_context)